@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-7 py-3 border-[#242424] rounded-full uppercase text-sm tracking-widest
        text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]
    }

    .contactInput {
      @apply outline-none bg-slate-400/10 rounded-sm border-b px-6
      py-4 border-[#242424] text-gray-500 transition-all focus:border-[#F7AB0A]/40
      focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]

    }
}

@keyframes rubberband {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.25);
    }
    40% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1.05);
    }
    65% {
      transform: scale(0.98);
    }
    75% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }

@font-face {
  font-family: 'CoolveticaRg-Regular';
  src: url('/public/fonts/CoolveticaRg-Regular.woff') format('woff'),
       url('/public/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'helvetica-neu';
  src: url('/public/fonts/helvetica-neu.ttf') format('truetype');
}

@font-face {
  font-family: 'LaBelleAurore';
  src: url('/public/fonts/LaBelleAurore.woff') format('woff'),
       url('/public/fonts/LaBelleAurore.woff2') format('woff2');
}

.font-coolvetica {
  font-family: 'CoolveticaRg-Regular', sans-serif;
}

.font-helvetica {
  font-family: 'helvetica-neu', sans-serif;
}

.font-labelleaurore {
  font-family: 'LaBelleAurore', sans-serif;
}
